*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 17px;
    font-style: italic;
    font-family: verdana;
}

.teste{
    color: red;
}

#teste{
    color: aqua;
}

.paragrafo{
    font-size: 30px;
}
[name=paragrafo]{
    color: blue;
}

[type=button]{
    color: blueviolet;
    background-color: #fcf;
}
